
<div class="container">
  <div class="py-5 text-center">
    <h2>Checkout</h2>
  </div>
  <h4>List Of Contacts</h4>
  <ul>
    <li *ngFor="let contact of contacts">
      {{contact.title}} -  {{contact.author}}
    </li>
  </ul>
  <app-address-input></app-address-input>
  <app-card-input></app-card-input>
</div>
