<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://www.miu.edu/"> MIU-CS490PM-Group3</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
