<h4 class="mb-3">Payment</h4>

<div class="d-block my-3">
  <div class="custom-control custom-radio">
    <input id="visa" name="paymentMethod" type="radio" class="custom-control-input" checked required>
    <label class="custom-control-label" for="visa">Visa Card</label>
  </div>
  <div class="custom-control custom-radio">
    <input id="master" name="paymentMethod" type="radio" class="custom-control-input" required>
    <label class="custom-control-label" for="master">Master Card</label>
  </div>
</div>
<div class="row">
  <div class="col-md-6 mb-3">
    <label for="card-name">Name on card</label>
    <input type="text" class="form-control" id="card-name" placeholder="" required>
    <small class="text-muted">Full name as displayed on card</small>
    <div class="invalid-feedback">
      Name on card is required.
    </div>
  </div>
  <div class="col-md-6 mb-3">
    <label for="card-number">Card number</label>
    <input type="text" class="form-control" id="card-number" placeholder="" required>
    <div class="invalid-feedback">
      Card number is required.
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3 mb-3">
    <label for="card-expiration">Expiration</label>
    <input type="text" class="form-control" id="card-expiration" placeholder="" required>
    <div class="invalid-feedback">
      Expiration date required.
    </div>
  </div>
  <div class="col-md-3 mb-3">
    <label for="card-cvv">CVV</label>
    <input type="text" class="form-control" id="card-cvv" placeholder="" required>
    <div class="invalid-feedback">
      Security code required.
    </div>
  </div>
</div>
<hr class="mb-4">
<button class="btn btn-primary btn-lg btn-block" type="submit">Continue to Checkout</button>
